@font-face {
    font-family: 'NMS-Glyphs';
    src: url('/assets/fonts/NMS-Glyphs-Mono.ttf') format('truetype');
}

.glyph {
    font-family: 'NMS-Glyphs';
    font-size: 3em;
}

button {
width: auto;
padding: 10px 20px;
}
select {
width: auto;
padding: 10px 20px;
}
